{{ define "main" }}
  <div class="flex-row-to-column">
    <div class="w-66-to-100 pt-3">
      <article class="blog-body book-post">
      <h1 class="pb-4 fw600 mb-3 with-border-bottom">Latest Blog Posts</h1>
      {{ $paginator := .Paginate (where .Pages.ByDate.Reverse "Params.hidden" "ne" true) }}
      {{ range .Paginator.Pages }}
        {{ partial "docs/post-list-item" . }}
      {{ end }}
      {{ partial "pagination.html" . }}
    </article>
    </div>
    <div class="w-33-to-100 pt-3">
      <h1 class="pt-4 pb-5 mb-2 pl-5 lh-125">Latest Tweets</h1>      
      <div id="blog-timeline" class="timeline pl-3 pr-3"></div>
    </div>
  </div>
{{ end }}