<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="robots" content="index, follow">
  <meta name="description" content="{{ .Params.description }}">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ .Params.title }} | Cloudback Documentation">
  <meta property="og:site_name" content="Cloudback">
  <meta property="og:locale" content="en_US">
  <meta property="og:url" content="https://cloudback.it">
  <meta property="og:image" content="https://cloudback.it/lib/logo/social.png">
  <meta property="og:description" content="{{ .Params.description }}">
  <meta name="twitter:title" content="{{ .Params.title }} | Cloudback Documentation">
  <meta name="twitter:description" content="{{ .Params.description }}">
  <meta name="twitter:image" content="https://cloudback.it/lib/logo/social.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="keywords" content="{{ .Params.keywords }}">
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebApplication",
      "name": "Cloudback",
      "abstract": "Backups your GitHub repositories, fast and secure",
      "text": "Cloudback secures your repositories with recurrent data backups. With Cloudback you can use your favorite cloud storage or in-build one.",
      "url": "https://cloudback.it/",
      "image": "https://cloudback.it/lib/logo/social.png",
      "installUrl": "https://github.com/apps/cloudback/installations/new",
      "downloadUrl": "https://github.com/marketplace/cloudback",
      "screenshot": "https://marketplace-screenshots.githubusercontent.com/7736/3848af80-eb9a-11ea-98b5-fe5cbfe991f7?auto=webp&format=jpeg",
      "applicationCategory": "SecurityApplication"
    }
  </script>
  <script>
    var remark_config = {
      host: 'https://cloudback.it/remark42',
      site_id: '2e84800d050d41c3a3696581e5f583af',
    }
  </script>
  <script>!function(e,n){for(var o=0;o<e.length;o++){var r=n.createElement("script"),c=".js",d=n.head||n.body;"noModule"in r?(r.type="module",c=".mjs"):r.async=!0,r.defer=!0,r.src=remark_config.host+"/web/"+e[o]+c,d.appendChild(r)}}(remark_config.components||["embed"],document);</script>
  <script src="https://cdn.counter.dev/script.js" data-id="9ee700d3-02c7-4729-ad2c-8fe4a56d9f01" data-utcoffset="3"></script>
  <script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
      t = window.twttr || {};
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);
  
    t._e = [];
    t.ready = function(f) {
      t._e.push(f);
    };
  
    return t;
  }(document, "script", "twitter-wjs"));</script>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
{{ .Scratch.Set "bodyBackgroundClass" "body-background" }}
{{ if (.Page.IsHome) }}
  {{ .Scratch.Set "bodyBackgroundClass" "docs-content-background" }}
{{ end }}
{{ $isDocsSection := and .Page.IsSection (and (not (eq .Page.Section "posts")) (not (eq .Page.Section "tags")) (not (eq .Page.Section "categories"))) }}
{{ $showPageToc := and (not (.Page.Params.hidePageToc)) (or (.Page.IsPage) $isDocsSection) }}
{{ $showDocsMenu := and (not .Page.IsHome) (or (and .Page.IsPage (not (eq .Page.Section "posts"))) $isDocsSection) }}
<body class="{{ .Scratch.Get "bodyBackgroundClass" }}">
  <div class="page d-flex flex-column h-100">
    {{ if and (eq .Page.Section "posts") ( not .Page.IsPage ) }}
      {{ partial "docs/blog-header" . }}
    {{ else }}
      {{ if (.Page.IsHome) }}
        {{ partial "docs/big-header" . }}
      {{ else }}
        <div class="d-flex flex-column w-100 big-header position-relative">
          {{ partial "docs/common-header" . }}
        </div>
      {{ end }}
    {{ end }}
    <input type="checkbox" class="hidden menu-control" id="menu-control">
    <main class="page-main container w-100">
      <input type="checkbox" class="hidden toc-control" id="toc-control">
      <div class="d-flex h-100">
        {{ if $showDocsMenu }}
        <aside class="docs-menu">
          <div class="docs-menu-content">
            <div class="d-flex">
              <div class="close-menu">
                <div class="p-2">
                  <label for="menu-control" class="toc-label toc-label-close cursor-pointer p-2">
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                      <path fill-rule="evenodd" d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
                      </path>
                    </svg>
                  </label>
                </div>
              </div>
            </div>
            <div class="p-3" id="menu-search-container">
              <div class="search-icon" id="search-icon">
                <svg class="search-icon-container" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                  <path fill-rule="evenodd" d="M11.5 7a4.499 4.499 0 11-8.998 0A4.499 4.499 0 0111.5 7zm-.82 4.74a6 6 0 111.06-1.06l3.04 3.04a.75.75 0 11-1.06 1.06l-3.04-3.04z">
                  </path>
                </svg>
              </div>
              <input type="text" class="menu-search-input" id="menu-search" onkeyup="searchMenu(event, this);" 
                onfocus="onFocus(this);"
                placeholder="Search by title..." title="Type page title">
              <div class="search-results-container" id="search-results-container">
                <ul class="w-100">
                  {{ range (.Site.AllPages.ByTitle ) }}
                    <li class="search-result-item flex-column">
                      <a class="p-1 flex-grow-1" href="{{ .Permalink }}">
                        {{- partial "docs/title" .Page -}}
                        <br/>
                        {{ partial "docs/breadcrumbs" . }}
                      </a>
                    </li>
                  {{ end }}
                  <li class="nothing-found" id="nothing-found">No pages found</li>
                </ul>
              </div>
            </div>
            <nav class="docs-menu-nav pl-3 pb-3">
              {{ partial "docs/menu" . }}
            </nav>
          </div>
        </aside>
        {{ end }}
        <div class="docs-page docs-content-background d-flex flex-column">
          {{ if and (not .Page.IsHome) (or (.Page.IsPage) $isDocsSection) }}
            <header class="docs-header p-2">
              <div class="d-flex align-center h32">
                {{ if $showDocsMenu }}
                  <div class="docs-header-logo pr-2">
                    <label for="menu-control" class="toc-label toc-label-left cursor-pointer p-2">
                      <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path>
                      </svg>
                    </label>
                  </div>
                {{ end }}
                <div class="flex-grow-1">
                </div>
                {{ if $showPageToc }}
                  <div>
                    <label for="toc-control" class="toc-label toc-label-right cursor-pointer p-2">
                      <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd" d="M1.75 2.5a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5zm4 5a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5h-7.5zm0 5a.75.75 0 000 1.5h7.5a.75.75 0 000-1.5h-7.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z"></path>
                        <path d="M13.314 4.918L11.07 2.417A.25.25 0 0111.256 2h4.488a.25.25 0 01.186.417l-2.244 2.5a.25.25 0 01-.372 0z"></path>
                      </svg>
                    </label>
                  </div>
                {{ end }}
              </div>
            </header>
          {{ end }}
          <div class="page-with-toc d-flex flex-grow-1">
            <div class="flex-column d-flex flex-grow-1">
              {{ template "main" . }}
              {{ if and (not .Page.IsHome) (not (eq .Page.Section "posts")) (not (eq .Page.Section "tags")) (not (eq .Page.Section "categories")) }}
              <div class="p-4 article-footer">
                <div class="d-flex flex-justify-between">
                  <div class="article-footer-btn p-2">
                    {{ if and .GitInfo .Site.Params.BookRepo }}
                    {{ $date := .GitInfo.AuthorDate.Local.Format (default "January 2, 2006" .Site.Params.BookDateFormat) }}
                    <a class="d-flex align-center" href="{{ .Site.Params.BookRepo }}/commit/{{ .GitInfo.Hash }}"
                       title="{{ i18n "Last modified by" }} {{ .GitInfo.AuthorName }} | {{ $date }}" target="_blank" rel="noopener">
                      <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd" d="M4.75 0a.75.75 0 01.75.75V2h5V.75a.75.75 0 011.5 0V2h1.25c.966 0 1.75.784 1.75 1.75v10.5A1.75 1.75 0 0113.25 16H2.75A1.75 1.75 0 011 14.25V3.75C1 2.784 1.784 2 2.75 2H4V.75A.75.75 0 014.75 0zm0 3.5h8.5a.25.25 0 01.25.25V6h-11V3.75a.25.25 0 01.25-.25h2zm-2.25 4v6.75c0 .138.112.25.25.25h10.5a.25.25 0 00.25-.25V7.5h-11z"></path>
                      </svg>
                      <span class="pl-2">{{ $date }}</span>
                    </a>
                    {{ end }}
                  </div>
                   <div class="article-footer-btn p-2">
                    <a class="d-flex align-center" href="{{ .Site.Params.BookRepo }}/{{ .Site.Params.BookEditPath }}/{{ replace .File.Path "\\" "/" }}" target="_blank" rel="noopener">
                      <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16">
                        <path fill-rule="evenodd" d="M11.013 1.427a1.75 1.75 0 012.474 0l1.086 1.086a1.75 1.75 0 010 2.474l-8.61 8.61c-.21.21-.47.364-.756.445l-3.251.93a.75.75 0 01-.927-.928l.929-3.25a1.75 1.75 0 01.445-.758l8.61-8.61zm1.414 1.06a.25.25 0 00-.354 0L10.811 3.75l1.439 1.44 1.263-1.263a.25.25 0 000-.354l-1.086-1.086zM11.189 6.25L9.75 4.81l-6.286 6.287a.25.25 0 00-.064.108l-.558 1.953 1.953-.558a.249.249 0 00.108-.064l6.286-6.286z"></path>
                      </svg>
                      <span class="pl-2">Edit this page</span>
                    </a>
                  </div> 
                </div>   
              </div>

              <div id="remark42"></div>

              {{ end }}
            </div>
            {{ if $showPageToc }}
              {{ partial "docs/toc" . }}
            {{ end }}
          </div>
        </div>
      </div>
    </main>
    {{ partial "docs/big-footer" . }}
  </div>
</body>
</html>

{{ define "main" }}
  <article class="markdown-body">
    {{- .Content -}}
  </article>
{{ end }}