  <div class="flex-row-to-column">
    <div class="w-66-to-100 pt-3">
      <article class="lh-125 pt-4 pr-3 pl-3">
      <div class="h1 pb-4 fw600 mb-3 with-border-bottom mt-0">Recent Blog Posts</div>
      {{ range first 5 (where (where $.Site.Pages.ByDate.Reverse "Params.hidden" "ne" true) "Section" "posts") }}
        {{ partial "docs/post-list-item" . }}
      {{ end }}
      </article>
    </div>
    <div class="w-33-to-100 pt-3 pb-3">
      <div class="h1 pt-4 pb-5 mb-2 pl-5 lh-125">Latest Tweets</div>   
      <div id="blog-timeline" class="timeline pl-3 pr-3"></div>
    </div>
  </div>