/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 500;
}

.markdown h1:before, .markdown h2:before, .markdown h3:before, .markdown h4:before, .markdown h5:before, .markdown h6:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}

.book-menu {
  background-color: aliceblue;
}

.book-toc {
  background-color: aliceblue;
}

body {
  background-color: white;
}

main {
  background-color: aliceblue;
}

.book-search input {
  background-color: white;
}

.book-menu nav {
  margin-top: 35px;
}

.book-toc nav {
  margin-top: 50px;
}

.book-brand a {
  color: white;
  font-weight: 700;
}

.book-brand {
  margin: 0;
}

.book-search {
  margin: 0;
}

.custom-header {
  background-color: #343a40;
}

#book-search-results {
  z-index: 9999;
  background-color: aliceblue;
  position: absolute;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  list-style: none;
  padding-inline-start: 10px;
}

#book-search-results li {
  padding: 10px;
}

.book-page {
  background-color: white;
  min-height: calc(100vh - 45px);
  padding: 10px 20px 10px 20px;
}

.book-page .markdown {
  min-height: calc(100vh - 129px);
}

@media screen and (max-width: 56rem) {
  .book-page .markdown {
    min-height: calc(100vh - 169px);
  }
}

@media screen and (max-width: 500px) {
  /*hide title text for small screen resolution*/
  .book-brand a span {
    display: none;
  }
}

.book-menu nav, .book-toc nav {
    padding: 10px;
}

.screenshot {
  width: 100%;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}