/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6 {
  font-weight: 500;
}

.markdown h1:before, .markdown h2:before, .markdown h3:before, .markdown h4:before, .markdown h5:before, .markdown h6:before {
  display: block;
  content: " ";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
  pointer-events: none;
}

.book-menu {
  background-color: aliceblue;
}

.book-toc {
  background-color: aliceblue;
}

body {
  background-color: white;
}

main {
  background-color: aliceblue;
}

.book-search input {
  background-color: white;
}

.book-menu nav {
  margin-top: 45px;
}

.book-toc nav {
  margin-top: 50px;
}

.book-brand a {
  color: white;
  font-weight: 700;
}

.book-brand {
  margin: 0;
}

.book-search {
  margin: 0;
}

.custom-header {
  background-color: #343a40;
}

#book-search-results {
  z-index: 9999;
  background-color: aliceblue;
  position: absolute;
  margin: 3px;
  border-radius: 5px;
  width: 100%;
  list-style: none;
  padding-inline-start: 10px;
}

#book-search-results li {
  padding: 10px;
}

.book-page {
  background-color: white;
  min-height: calc(100vh - 45px);
  padding: 10px 20px 10px 20px;
}

.book-page .markdown {
  min-height: calc(100vh - 129px);
}

@media screen and (max-width: 56rem) {
  .book-page .markdown {
    min-height: calc(100vh - 169px);
  }
}

@media screen and (max-width: 500px) {
  /*hide title text for small screen resolution*/
  .book-brand a span {
    display: none;
  }
}

.book-menu nav, .book-toc nav {
    padding: 10px;
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

a:hover {
    text-decoration: none !important;
}

.no-text-shadow {
    text-shadow: none;
}

.mb-25 {
    margin-bottom: .75rem !important;
}

.col-sm-1 {
    max-width: 8.33%;
}

.col-sm-2 {
    max-width: 16.67%;
}

.col-sm-3 {
    max-width: 25%;
}

.col-sm-4 {
    max-width: 33.33%;
}

.col-sm-5 {
    max-width: 41.66%;
}

.col-sm-6 {
    max-width: 50%;
}

.col-sm-7 {
    max-width: 58.33%;
}

.col-sm-8 {
    max-width: 66.67%;
}

.col-sm-9 {
    max-width: 75%;
}

.col-sm-10 {
    max-width: 83.33%;
}

.col-sm-11 {
    max-width: 91.67%;
}

.h48 {
    height: 48px !important;
}

.w32 {
  width: 32px !important;
}

.h32 {
  height: 32px !important;
  min-height: 32px !important;
}

.w36 {
    width: 36px !important;
}

.h36 {
    height: 36px !important;
    min-height: 16px !important;
}

.w-100 {
    width: 100% !important;
}

.h-100 {
    height: 100% !important;
}

.v-align-middle {
    vertical-align: middle;
}

.w20 {
    width: 20px !important;
}

.h20 {
    height: 20px !important;
    min-height: 20px !important;
}

.w16 {
    width: 16px !important;
    min-width: 16px !important;
}

.h16 {
    height: 16px !important;
}

.w-33 {
    width: 33%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.h-inherit {
  height: inherit !important;
  min-height: inherit !important;
}

.w-auto {
    width: auto !important;
}

.v-align-middle {
    vertical-align: middle !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.x-small {
    font-size: 70%;
    font-weight: 400;
}

.bcg-white {
    background-color: white;
}

.border-none {
    border: none !important;
}

.text-hover-white:hover {
    color: white !important;
}

.svg-invert {
    -moz-filter: invert(100%);
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.cookieConsentContainer {
    -ms-opacity: 1;
    opacity: 1;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    max-width: 50%;
    z-index: 100;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
}

.cookieConsentContainer.fade {
    -ms-opacity: 0;
    opacity: 0;
}

img {
    vertical-align: baseline;
}

.flex-grow-1 {
    -o-flex-grow: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.text-transform-none {
  text-transform: none !important;
}

.font-size-medium {
  font-size: medium;
}

.font-size-larger {
  font-size: larger;
}

.font-size-smaller {
  font-size: smaller;
}

.d-flex-row-to-column {
  display: flex !important;
  flex-direction: row; 
}
.w-50-to-100 {
  width: 50%;
}
.mr-2-to-0 {
  margin-right: 8px !important;
}
.ml-2-to-0 {
  margin-left: 8px !important;
}
.d-flex-row-to-column-small {
  display: flex !important;
  flex-direction: row;
}
.flex-grow-1-when-big {
  -o-flex-grow: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

@media screen and (max-width: 500px) {
  .docs {
    display: none;
  }
  .d-flex-row-to-column {
    flex-direction: column;
  }
  .w-50-to-100 {
    width: 100%;
  }
  .mr-2-to-0 {
    margin-right: 0px !important;
  }
  .ml-2-to-0 {
    margin-left: 0px !important;
  }
}

@media screen and (max-width: 400px) {
  .w-100-when-small {
    width: 100%;
  }
  .d-none-when-small {
    display: none;
  }
  .d-flex-row-to-column-small {
    flex-direction: column;
  }
  .flex-grow-1-when-big {
    -o-flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
  } 
}

.with-blur {
  background-color: rgba(244, 244, 244, .95);
}

/* if backdrop support: very transparent and blurred */
@supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
  .with-blur {
    background-color: rgba(244, 244, 244, .4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  }
}


.p-4-to-0 { padding: 1.5rem; }
.p-3-to-0 { padding: 1rem; }
.m-4-to-0 { margin: 1.5rem; }
.m-3-to-0 { margin: 1rem; }
.mr-3-to-0 { margin-right: 1rem; }
.ml-3-to-0 { margin-left: 1rem; }
.mt-3-to-0 { margin-top: 1rem; }
.mb-3-to-0 { margin-bottom: 1rem; }
.mr-3-to-1dot5 { margin-right: 1rem; }
.ml-3-to-1dot5 { margin-left: 1rem; }
.mt-3-to-1dot5 { margin-top: 1rem; }
.mb-3-to-1dot5 { margin-bottom: 1rem; }
@media (max-width: 1100px) {
  .p-4-to-0 { padding: 1rem; }
  .p-3-to-0 { padding: 0.5rem; }
  .m-4-to-0 { margin: 1rem; }
  .m-3-to-0 { margin: 0.5rem; }
  .mr-3-to-0 { margin-right: 0.5rem; }
  .ml-3-to-0 { margin-left: 0.5rem; }
  .mt-3-to-0 { margin-top: 0.5rem; }
  .mb-3-to-0 { margin-bottom: 0.5rem; }
  .mr-3-to-1dot5 { margin-right: 0.5rem; }
  .ml-3-to-1dot5 { margin-left: 0.5rem; }
  .mt-3-to-1dot5 { margin-top: 0.5rem; }
  .mb-3-to-1dot5 { margin-bottom: 0.5rem; }
}
@media (max-width: 768px) {
  .p-4-to-0 { padding: 0; }
  .p-3-to-0 { padding: 0; }
  .m-4-to-0 { margin: 0; }
  .m-3-to-0 { margin: 0; }
  .mr-3-to-0 { margin-right: 0; }
  .ml-3-to-0 { margin-left: 0; }
  .mt-3-to-0 { margin-top: 0; }
  .mb-3-to-0 { margin-bottom: 0; }
}

.w-33-to-100 {
  width: 33.33333%
}
.flex-row-to-column {
  display: flex;
  flex-direction: row;
}
@media (max-width: 768px) {
  .flex-row-to-column {
    flex-direction: column;
  }
  .w-33-to-100 {
    width: 100%
  }
}

.w-33 { width: 33%; }

.feature-img-container {
  box-shadow: inset 0 0 90px 25px rgba(0, 0, 0, 0.5);
  -ms-border-top-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  -ms-border-top-right-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  height: 150px;
}

.feature-img {
  min-height: 150px;
  height: 150px;
  max-width: 400px;
  width: 100%;
  z-index: -1;
  position: relative;
  -ms-border-top-left-radius: 0.75rem;
  border-top-left-radius: 0.75rem;
  -ms-border-top-right-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
  -webkit-object-fit: cover;
  object-fit: cover;
}

.feature-card {
  position: relative;
  background-color: transparent;
  box-shadow: 0 0.5rem 1.5rem var(--shadow-color);
  -ms-border-radius: 0.75rem;
  border-radius: 0.75rem;
}

.feature-card img {
  box-shadow: none !important;
  background-color: transparent !important;
}

.feature-btn {
  padding: 6px 12px;
  line-height: 20px;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  color: var(--custom-link-color);
  background-color: var(--docs-content-background);
  box-shadow: 0 0.1rem 0.25rem var(--shadow-color);
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color, transform;
}

.feature-btn:hover {
  transform: scale(1.05);
}